.home {
  text-align: left;
}

.operation {
  position: fixed;
  top: 40px;
  left: 0;
}

.icon {
  margin-left: 6px;
  cursor: pointer;
}

.card {
  min-width: 300px;

  .tree {
    overflow: auto;
    max-height: 300px;
  }
}

.select {
  min-width: 300px;
}
